.container-logo {
    margin: 5%;
}

.img-logo {
    width: 100%;
}

#left-bar {
    border-right: 1px black solid;
    width: 17%;
    height: 100%;
    position: fixed;
}

#container__article {
    margin-left: 17%;
    width: 60%;
    height: 100%;
    position:absolute;
}

#center-bar #bienvenida {
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
}

#right-bar {
    border-left: 1px black solid;
    width: -webkit-fill-available;
    height: 100%;
    margin-left: 77%;
    position: fixed;       
}

.lh {
    top: 25%;
    border-top: 1px black solid;
    position: fixed;
    width: 15%;
    margin-left: 1%;
}

#search-bar {
    top: 27%;
    width: 17%;
    position: fixed;
}

#link-bar {
    top: 40%;
    position: fixed;
}

#bienvenida{
    height: 150px;
    width: 100%;
    position: relative;    
}

.profile-pic-btn{    
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    height: fit-content;
    width: 100%;
}

#right-bar #user-name {    
    margin-top: 5px;
    position:relative;
    display: flex;
    justify-content: center;    
}

.profile-pic-btn #user_profile_pic img {
    
    border-radius: 50%;
    height: 75px;
    width: 75px;
}

#articles{
    margin-top: 10%;
}

.container--menu-btn{
    margin-top: 15px;
    margin-left: 87%;
    
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }