.container-logo {
    margin: 5%;
}

.img-logo {
    width: 100%;
}

#left-bar {
    border-right: 1px black solid;
    width: 17%;
    height: 100%;
    position: fixed;
}

#center-bar {
    border-right: 1px black solid;
    margin-left: 17%;
    width: 60%;
    height: 100%;
    position: fixed;
}

#center-bar #bienvenida {
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
}

#right-bar {
    width: 30%;
    height: 100%;
    margin-left: 77%;
    position: fixed;
    background-color: rgb(226, 217, 217);    
}

.lh {
    top: 25%;
    border-top: 1px black solid;
    position: fixed;
    width: 15%;
    margin-left: 1%;
}

#search-bar {
    top: 27%;
    width: 17%;
    position: fixed;
}

#link-bar {
    top: 40%;
    position: fixed;
}

#bienvenida{
    height: 150px;
    width: 100%;
    position: relative;    
}

.profile-pic-btn{
    margin-top: 15px;
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 5%;
    width: 100%;
}

.profile-pic-btn #user_profile_pic img {
    height: 50px;
    width: 50px;
}

#articles{
    margin-top: 10%;
}